<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kDKDrawingInfoTitle</key>
	<string>laptop.artb</string>
	<key>kdkdrawinginfocreationdate</key>
	<date>2015-08-02T15:57:24Z</date>
	<key>kdkdrawinginfodimensionsshortunits</key>
	<string>cm</string>
	<key>kdkdrawinginfodimensionsunits</key>
	<string>cm</string>
	<key>kdkdrawinginfodraughter</key>
	<string>Neil Collins</string>
	<key>kdkdrawinginfodrawingdimensions.size_height</key>
	<string>32.000000</string>
	<key>kdkdrawinginfodrawingdimensions.size_width</key>
	<string>47.999999</string>
	<key>kdkdrawinginfodrawingnumber</key>
	<string>A2-000048-0001</string>
	<key>kdkdrawinginfodrawingnumberunformatted</key>
	<integer>48</integer>
	<key>kdkdrawinginfodrawingprefix</key>
	<string>A2</string>
	<key>kdkdrawinginfodrawingrevision</key>
	<integer>1</integer>
	<key>kdkdrawinginfolastmodificationdate</key>
	<date>2015-08-02T15:57:24Z</date>
</dict>
</plist>
