html, body {
  height: 100%;
  background-color: $gh-blue;
}

// All images responsive
img {
  display: block;
  height: auto;
  max-width: 100%;
 }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
 }
