.laptop-footer {
  background-image: url('../images/macbook.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  flex-grow: 1;
  position: relative;
}

.fourscreens-footer {
  background-image: url('../images/fourscreens.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  position: relative;
  height: 60vh;
  max-width: 100vw;
}
