.laptop-footer {
  background-image: url('../images/macbook.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  flex-grow: 1;
  position: relative;
}

.fourscreens-footer {
  position: relative;
  max-height: 60vh;
  height: 50vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
