
/* -------------------------------------------------- */
/* Pages */
/* -------------------------------------------------- */

/* Colors. Just add appropriate class
 to your new page.*/

.color-1 {
  background: $color-1;
  color: $color-4;
}

.color-2 {
  @include gradient-vertical($gh-beige, darken($gh-beige, 15%));
  color: $gray-dark;
}

.color-3 {
  @include gradient-vertical(#fff, lighten($gh-blue, 25%));
  h1,h2,h3,h4,h5,h6 {
    color: $color-7;
  }
  a {
    color: darken($link-color, 20%);
  }
  .btn {
    color: $color-4;
  }
}

.color-4 {
  background: $gh-beige;
  color: $gray-dark;
}

.color-5 {
  background: #fff;
  color: $gray-dark
}

/* Layout */

.page {
  padding-top:70px;
}

.inner-page {
  padding: 30px 10px;
  max-width:1100px;
  margin: 0 auto;
 }

.newsletter,
footer {
  padding: 0!important;
  margin: 0!important;
  a {
    color: #fff;
  }
}

.figurette {
  margin-top: 30px;
  }

.lazy-container {
  text-align: center;
  min-height: 400px;
}

.spinner {
  padding-top: 200px;
}



/* Individual pages */
/* -------------------------------------------------- */

/* Home page */
#home {
  margin-top:0;
  padding: 80px 0;
}

/* About page */

.team {
  img {
    margin-right: 30px;
  }
  .social i {
  color: #333;
  }
}

/* Sign up text */

.sign-up {
  h4 {
 font-size: 26px;
}
.btn {
  margin-top: 10px;
}
}

/* Footer */

.copyright {
  line-height: 50px;
}

/* Newsletter */

.newsletter {
  h4 {
    font-size: 24px;
    margin: 0;
  }
  .btn, input {
    height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
  }
  input {
    width: 100%;
    text-indent: 10px;
  }
}

// Bugfix for safari - see http://stackoverflow.com/questions/34250282/flexbox-safari-bug-flex-wrap
.row.align-bottom,
.row.align-center {
  &:before,
  &:after {
    content: normal;
  }
}

.align-bottom {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-wrapper {
  position: relative;
  z-index: 1;
}

.screenshot {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  margin-top: 10px;
  margin-bottom: 10px;


  &.padded {
    padding: 5px;
    background: #fff;
  }
}
