.clients a {
      color: #ffffff;
}

.customer {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 200px;
  max-width: 250px;
  display: inline;
}

.small-customer {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 150px;
  max-width: 150px;
  display: inline;
}
