doctype html
html(lang='en')  
  head  
    title GovernorHub v2 Site
    link(href='/css/the-story.css', rel='stylesheet')
    link(href='/css/site.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .navbar-container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            i.fa.fa-reorder
          a.navbar-brand(href='#') GovernorHub
        #nav-collapse.collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a.scroll.brand-1(title='Home page', href='#home') Home
            li
              a.scroll.brand-4(title='Check out our awesome services', href='#features') Features &amp; Pricing
            li
              a.scroll.brand-3(title='Governor Services', href='#gs') Governor Services
            li
              a.scroll.fadeto.brand-4(title='Multi-Academy Trusts', href='#mats')  MATs
            li
              a.pull-right(href='error') Sign in
            li
              a.pull-right(href='error') Free Trial
      // /.navbar-container
    
    // Home Page
    
    #home.page.color-1
      .row.inner-page
        .col-md-10.col-md-push-1
          h3.page-headline The modern way to run your school Governing Board or MAT Trust Board.
      .row.inner-page
        .col-md-12.lazy-container
          img.lazy(alt='GovernorHub makes it easy.', src='img/fourscreens.png', data-original='/img/fourscreens.png')
    // /.sign-up
    // Feature page
    #features.page.color-4
      .inner-page.row        
        .col-md-6
          h3.page-headline Features          
          ul.big-list
            li
              i.fa.fa-users
              |  Clerking tools
            li
              i.fa.fa-file
              |  Store documents
            li
              i.fa.fa-calendar
              |  Meeting calendar
            li
              i.fa.fa-info
              |  Governor News
            li
              i.fa.fa-mobile
              |  Mobile and Tablet Support
        .col-md-6
          .btn-container.figurette
            img(src='img/governorhub.png', alt='Play video')
            a.lightbox.iframe.btn-play(target='_blank', href='https://www.youtube.com/watch?v=6yJAmX2540g')
              i.fa.fa-play          
      hr
      .inner-page.row
        .col-md-6
          img.lazy(alt='GovernorHub makes it easy.', src='img/backdrop_s.jpg', data-original='/img/backdrop_s.jpg')
        .col-md-6
          h3.page-headline Pricing per Year
          br
          ul.big-list
            li 
              i.fa.fa-check
              |  Single school £400 
            li 
              i.fa.fa-check
              |  MAT £400 + £100 per school
            li 
              i.fa.fa-check
              |  Governor Services - see below 
      #gs.page.color-3
        h1.page-headline Governor Services
        .row.inner-page
          .col-md-6            
            p.lead.
              As well as providing a set of class-leading tools for your governors to use in their Governing Boards and
              Trust Boards, GovernorHub also comes with a full backend database for Governor Services to use.
            ul.list-wide
              li
                i.fa.fa-check
                |  Governor Database 
              li
                i.fa.fa-check
                |  Reports               
              li
                i.fa.fa-check
                |  Clerking Service Support
              li
                i.fa.fa-check
                |  Training Booking
              li
                i.fa.fa-check
                |  Resources and Frequently Asked Questions
              li
                i.fa.fa-check
                |  Governors & Clerks Update their own details
          .col-md-6.lazy-container            
            img.figurette.lazy(src='img/governorservices.jpg', data-original='img/governorservices.jpg', alt='Full Governor Services Support')
        .row.inner-page
          .col-md-12          
            h2   Pricing
            table.table
              thead
                tr
                  th Governing Boards in your authority 
                  th Annual Fixed Charge for Database                  
                  th Access to full GovernorHub features for each Governing Board or Trust Board subscribing to your Service
              tbody
                tr
                  td up to 50
                  td £1500 + VAT
                  td 15 included then £100+VAT each per year                  
                tr
                  td up to 100
                  td £3000 + VAT
                  td 30 included then £100+VAT each per year                  
                tr
                  td unlimited
                  td £4000 + VAT
                  td 40 included then £100+VAT each per year                   
    #mats.page.color-2
      h2.page-headline Multi-Academy Trusts (MATs)
      .row.inner-page
        .col-md-6.lazy-container            
          img.figurette.lazy(src='img/mats.jpg', data-original='img/mats.jpg', alt='Full Governor Services Support')
        .col-md-4.col-md-push-1            
          p.lead.
            GovernorHub has built-in support for mutliple schools working together in a Multi-Academy Trust, Federation or Co-operative Trust.
            GovernorHub gives access for Trust Board members to manage the work of the Trust Board plus an area for each 
            Local Governing Board or Committee.            
          p.lead.
            Members of the Local Governing Board can only see their papers
            and details but members of the Trust Board can see the papers and details for academies in the Trust.
          p.lead.
            For larger MATs and academy chains we also provide database access so a central admin team can manage the list of governors,
            members and trustees across the whole MAT or chain.
          
    // /#assets
    // About page
    #customers.page.color-4
      .inner-page
        h1.page-headline Customers
      .inner-page.row
        .col-md-3
          img.customer.lazy(data-original='customers/norfolk.png', alt='Norfolk County Council')
        .col-md-3
          img.customer.lazy(data-original='customers/medway.png', alt='Medway Council')
        .col-md-3
          img.customer.lazy(data-original='customers/oxfordshire.png', alt='Oxfordshire County Council')
        .col-md-3
          img.customer.lazy(data-original='customers/northants.png', alt='Northamptonsire County Council')
      .inner-page.row
        .col-md-3
          img.customer.lazy(data-original='customers/luton.png', alt='Luton Borough Council')
        .col-md-3
          img.customer.lazy(data-original='customers/bedford.png', alt='Bedford Borough Council')
        .col-md-3
          img.customer.lazy(data-original='customers/mk.png', alt='Milton Keynes Borough Council')
        .col-md-3
          img.customer.lazy(data-original='customers/nottingham.png', alt='Nottingham City Council')
      .inner-page.row
        .col-md-3
          img.small-customer.lazy(data-original='customers/bristol.png', alt='Bristol City Council')
        .col-md-3
          img.customer.lazy(data-original='customers/enfield.png', alt='Enfield Borough Council')
        .col-md-3
          img.customer.lazy(data-original='customers/islington.png', alt='Islington Council')
        .col-md-3
          img.customer.lazy(data-original='customers/swindon.png', alt='Swindon Borough Council')
      .inner-page.row
        .col-md-3
          img.customer.lazy(data-original='customers/stockport.png', alt='Stockport Borough Council')
        .col-md-3
          img.customer.lazy(data-original='customers/westminster.png', alt='Diocese of Westminster Multi-Academy Trust')
        .col-md-3
          img.customer.lazy(data-original='customers/dneat.png', alt='Diocese of Norwich Multi-Academy Trust')
        .col-md-3
          img.small-customer.lazy(data-original='customers/s4s.png', alt='Services 4 Schools')
    // /#about
    // Contact page
    #contact.page.color-2
      .inner-page
        h2.page-headline Get in touch
      .row.inner-page.contact
        .col-md-6.col-md-push-3          
          form#contact-form
            textarea.form-control(rows='6', placeholder='What would you like to know?')
            input.form-control(type='text', placeholder='your@e-mail.com')
            input.form-control(type='text', placeholder='Name')
            button.btn.btn-primary.btn-centered Contact us
    // /#contact
    // The footer, social media icons, and copyright
    footer.page.color-5
      .inner-page.row
        .col-md-6.social
          a(href='http://twitter.com/governorhub')
            i.fa.fa-twitter
          a(href='http://facebook.com/governorhub')
            i.fa.fa-facebook-square
        .col-md-6.text-right.copyright
          | © 2016  
          a(href='http://ortootech.com', title='Ortoo Technologies') Ortoo Technologies
          |  | all rights reserved 
          a.scroll(href='#top', title='Got to top')
            | To top 
            i.fa.fa-caret-up
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="/js/the-story.min.js")
