doctype html
html(lang='en')  
  head  
    title GovernorHub v2 Site
    style(src='/css/the-story.css')
  body!= body  
    div#navigation!= partial('navigation.jade')
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="/js/the-story.min.js")
